
@font-face {
  font-family: 'Raleway';
  src: url(./fonts/Raleway/Raleway-VariableFont_wght.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

:root {
  --blackolive: #313628;
  --beige: #E4E6C3;
  --coffee: #735240ff;
  --ebony: #51544dff;
  --silver: #a8a5a4ff;
  --margin-auto: auto;
  --dark-af: #0A0908;
  --cool-orange: #C27A1A;
  --cool-yellow: #f9d423;
  --navy: #023047;
  --not-so-white: #f8f9fa;
  --dark-gray: #2b2b2b;
  --error-red: #FF3333;

}

.no-scroll {
  overflow: hidden;
}

body {
  background-color: var(--dark-af);
  font-family: 'Raleway', 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  transition: background-color 0.5s linear;
}

button {
  font-family: 'Raleway';
}


.main-nav {
  width: 100vw;
  background-color: var(--dark-af);
  height: 5rem;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin-bottom: 0;
  position: relative;
  transition: background-color 0.5s linear;

}

.main-nav h3 {
  background: linear-gradient(135deg, #ff6a00, #ee0979);
  color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.4); /* Adds a stronger shadow for depth */
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  align-self: center;
  text-align: center;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.headline {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}


div.log-in {
  width: 6rem;
  margin-left: auto;
  margin-right: 2rem;
}


button#log-in {
  /*background-color: var(--cool-orange);*/
  background: linear-gradient(135deg, #6e45e2, #88d3ce);
  color: var(--beige);
  border: none;
  border-radius: 14px;
  padding: 0.5rem;
  width: 6rem;
  height: 3rem;
  margin: auto;
}

button#log-in:hover {
  box-shadow: 0 8px 20px rgba(110, 69, 226, 0.6);
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.foot {
  display: flex;
  margin: auto;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--blackolive);
  width: 100%;
  overflow: hidden;
}

.foot h4 {
  color: var(--beige)
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}



th {
  background-color: var(--blackolive);
  border-bottom: 1px solid #ccc;
  font-weight: normal;
  padding: 0.5em 1em;
  text-align: left;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

#map {
  display: flex;
  width: 100%;
  height: 70vh;
  margin-top: 0;
  overflow-x: hidden;
}

dialog {
  background: linear-gradient(135deg, #6e45e2, #88d3ce);
  color: var(--beige);
  border-radius: 7px;
  max-height: 60vh;
  max-width: 70vw;
}

.modal table {
  width: 100%;
}

.close-modal button {
  border: none;
  outline: none;
  color: var(--dark-af);
  background-color: transparent;
  display: flex;
  float: right;
  font-size: 1.5rem;
  position: absolute;
  top: 10px;
  right: 10px;
}


.error-modal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: bold;
  padding: 3rem;
}

.error-modal h3 {
  color: var(--error-red);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  letter-spacing: 3px;
  font-size: 2rem;
  border-bottom: 3px solid var(--error-red);
  width: 8rem;
  display: flex;
  margin: auto;
  justify-content: center;
  animation: bounce 1s ease-in-out infinite;
}

.fetch-error {
  display: flex;
  margin: auto;
}

.fetch-error button {
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: var(--error-red);
  color: var(--not-so-white);
  margin: auto;
  border-radius: 10px;
}

.fetch-error button:hover {
  background-color: var(--not-so-white);
  color: var(--error-red);
  box-shadow: 0 8px 20px rgba(255, 0, 0, 0.6);
  cursor: pointer;
}

.marker-popup {
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

#address-link { /* <a> link to google maps*/
  background: transparent;
  color: var(--cool-yellow);
  font-size: 1rem;
  text-wrap: wrap;
}

#address-link:hover {
  color: var(--cool-orange);
}

.custom-popup {
  background-color: white;
  border-radius: 10px;
}

.custom-popup .leaflet-popup-content-wrapper {
  background-color: var(--dark-gray);
  color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  padding: 10px;
  border: 3px solid var(--cool-yellow);
}

.marker-popup button {
  background: linear-gradient(135deg, #6e45e2, #88d3ce);
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 12px 15px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 1.5px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.marker-popup button:hover {
  box-shadow: 0 8px 20px rgba(110, 69, 226, 0.6);
  transform: translateY(-2px);
}

#favorite-button {
  background: linear-gradient(135deg, #1a2a6c, #b21f1f);
}

#favorite-button:hover {
  background-color: var(--cool-orange);
  transform: translateY(-2px);
}


.filter-buttons {
  display: flex;
  margin: auto;
  justify-content: center;
  height: 3rem;
  margin-top: .5rem;
  gap: .5rem;
  margin-bottom: 5rem;
}

.filter-buttons button {
  background: linear-gradient(135deg, #6e45e2, #88d3ce);
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 12px 15px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 1.5px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.5s linear;
}

.filter-buttons button:hover {
  box-shadow: 0 8px 20px rgba(110, 69, 226, 0.6);
  transform: translateY(-1px);
}

.filter-buttons button:active {
  transform: translateY(1px);
}

.filter-buttons select {
  background-color: #1e1e1e;
  color: #f0f0f0;
  border: none;
  padding: 10px 14px;
  width: 10rem;
  font-size: .8rem;
  border-radius: 8px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  background-image: linear-gradient(45deg, transparent 50%, #f0f0f0 50%), linear-gradient(135deg, #f0f0f0 50%, transparent 50%);
  background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.filter-buttons select:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.filter-buttons select:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(100, 181, 246, 0.5);
  background-color: #292929;
}

.filter-buttons select option {
  background-color: #1e1e1e;
  color: #f0f0f0;
}

.filter-select option {
  outline: none;
  border: none;
  background-color: var(--dark-af);
  color: white;
}

.filter-select option:hover {
  background-color: var(--cool-orange);
  color: var(--dark-af);
}

.popup-buttons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.custom-popup .leaflet-popup-content-wrapper a {
  font-size: 20px;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: var(--dark-af);
  color: var(--cool-orange);
  border-radius: 50%;
}

.date {
  color: var(--cool-yellow);
  margin-top: 5rem;
}


/*Slider checkbox ******************************************************/
.theme-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  align-self: center;
}

.theme-switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* LEGEND SECTION ********************************************************************/

.legends {
  border: 1px solid var(--cool-orange);
  border-radius: 5px;
  padding: 1rem;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 15rem;
  text-align: center;
  z-index: 5;
  display: flex;
  flex-direction: row;
  max-width: 35vw;
}

.legends h3 {
  font-size: 1.5rem;
  color: var(--cool-orange);
  margin: auto;
}

.legend-item span {
  color: var(--cool-yellow);
}


div.legend-item {
  background-repeat: no-repeat;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#restaurant-icon {
  background-image: url(./img/restaurant-icon.png);
  background-size: contain;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
}

#restaurant-icon-highlighted {
  background-image: url(./img/restaurant-icon-highlight.png);
  background-size: contain;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  margin: auto;
}


/* #region LOG IN MODAL ********************************************************************/
.openDialog {
  background-color: var(--coffee);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 12px 24px;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.openDialog i {
  font-size: 20px;
  transition: transform 0.3s ease;
}

.openDialog i:hover {
  transform: scale(1.2);
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.user-dialog {
  padding: 2rem;
  border-radius: 8px;
  animation: slideDown 0.5s ease-out;
  max-width: 30%;
  width: auto;
  max-height: 85vh;
}

label {
  display: block;
  padding: 1rem;
}

.submit-btn,
.close-btn {
  display: block;
  margin-top: 2rem;
  margin-inline: auto;
  width: 5rem;
}

.dialog-btns {
  justify-content: space-evenly;
  padding-top: 3rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  backdrop-filter: blur(10px);
  z-index: 4;
}

#submit-btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#submit-btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

#close-btn {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 8px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#close-btn:hover {
  background-color: #e53935;
  transform: scale(1.1);
}

@keyframes flashyBorderGradient {
  0% {
    border-image: linear-gradient(45deg, #ff6ec4, #7873f5, #76b852, #f9d423) 1;
  }
  25% {
    border-image: linear-gradient(45deg, #f9d423, #ff6ec4, #7873f5, #76b852) 1;
  }
  50% {
    border-image: linear-gradient(45deg, #76b852, #f9d423, #ff6ec4, #7873f5) 1;
  }
  75% {
    border-image: linear-gradient(45deg, #7873f5, #76b852, #f9d423, #ff6ec4) 1;
  }
  100% {
    border-image: linear-gradient(45deg, #ff6ec4, #7873f5, #76b852, #f9d423) 1;
  }
}

.dialog-form {
  border: 6px solid;
  border-image-slice: 1;
  animation: flashyBorderGradient 4s infinite;
  border-radius: 10px;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Soft shadow */
  max-width: 50vw;
  text-align: center;
  color: black;
}

.dialog-form label {
  margin: auto;
  color: white;
  text-align: center;
}

.dialog-form input {
  border-radius: 10px;
  border: 1px solid #ffebee;
  padding: 0.2rem;
  transition: border-color 0.3s ease, outline-color 0.3s ease;
  max-width: 90%;
  width: auto;
}

.dialog-form input:focus {
  outline-color: #2196F3;
}

@keyframes validAnimation {
    0% {
        transform: scale(1);
        background-color: #fff;
    }
    50% {
        transform: scale(1.05);
        background-color: #e8f5e9;
    }
    100% {
        transform: scale(1);
        background-color: #fff;
    }
}

@keyframes invalidAnimation {
    0% {
        transform: scale(1);
        background-color: #fff;
    }
    25% {
        transform: scale(1.05);
        background-color: #ffebee;
    }
    50% {
        transform: scale(0.95);
        background-color: #ffcdd2;
    }
    75% {
        transform: scale(1.05);
        background-color: #ef9a9a;
    }
    100% {
        transform: scale(1);
        background-color: #fff;
    }
}


.dialog-form input:valid {
  border-color: green;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
  outline-color: green;
  animation: validAnimation 0.5s ease-in;
}

.dialog-form input:invalid {
  box-shadow: 0 0 10px rgba(244, 67, 54, 0.5);
  animation: invalidAnimation 0.5s ease-out;
}

.requirements {
  max-width: 40%;
  list-style-type: none;
  padding-block: 1rem;
}

.requirements li {
  padding: 0.5rem;
  text-align: center;
}

#password-error {
  font-size: 13px;
  max-width: 50%;
  width: auto;
}

.form-toggle {
  font-family: inherit;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-block: 1rem;
  margin: auto;
  flex-direction: column;
  max-width: 70%;
  border-radius: 10px;
  border: 3px solid var(--cool-orange);

}

.form-toggle input, .form-toggle label {
  text-align: center;
  margin: auto;
  color: white;
}

input#login-toggle {
  box-shadow: none;
}

input#register-toggle {
  box-shadow: none;
}

.favorite-p {
  margin: auto;
  text-align: center;
}



/* #endregion LOG IN MODAL ********************************************************************/

/* #region THEME-SWITCH ********************************************************************/

.checkbox-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: var(--ebony);
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background: linear-gradient(135deg, lightgray, white);
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
  background: linear-gradient(135deg, #f1c40f, #f39c12);
}

.checkbox:checked + .checkbox-label {
  background-color: rgb(235, 217, 183);
}

/* #endregion THEME-SWITCH ********************************************************************/

/* #region light theme ********************************************************************/
.main-nav.light {
  background-color: var(--not-so-white);
  transition: background-color 0.5s linear;
}

body.light {
  background-color: var(--not-so-white);
  transition: background-color 0.5s linear;
}

.filter-buttons button.light {
  background: linear-gradient(135deg, #ff6a00, #ee0979);
}

.foot.light {
  background-color: var(--silver);
}

.foot h4.light {
  color: var(--not-so-white);
}

/* #endregion light theme ********************************************************************/

/* #region logout modal ********************************************************************/

.logout-modal {
  margin: auto;
  color: var(--beige);
  border-radius: 7px;
  height: 50vh;
  width: 60vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* At the start and end, no movement */
  }
  50% {
    transform: translateY(-20px); /* Move upwards by 20px at the midpoint */
  }
}

.log-out-image {
  background-image: url(./img/talking-hamburger.png);
  background-size: contain;
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  margin: auto;
  animation: bounce 1s ease-in-out infinite;
}

.logout-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-block: 1rem;
}

.logout-buttons button {
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 12px 15px;
  font-size: 12px;
  cursor: pointer;
  letter-spacing: 1.5px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.logout-buttons button:hover {
  box-shadow: 0 8px 20px rgba(110, 69, 226, 0.6);
  transform: translateY(-1px);
}

#logout-yes {
background: linear-gradient(135deg, #00b09b, #96c93d);
}

#logout-no {
  background: linear-gradient(135deg, #555555, #2b2b2b);
}
/* #endregion logout modal ********************************************************************/
